
<div class="s-content">
    <div class="masonry-wrap">
        <div class="masonry">
            <div class="grid-sizer"></div>
            <% @articles.each do |article| %>
              <article class="masonry__brick entry format-standard ">
                  <% if article.highlight_image.url %>
                    <div class="entry__thumb">
                        <a href="single-standard.html" class="entry__thumb-link">
                            <%= image_tag article.highlight_image_url %> 
                        </a>
                    </div>
                  <% end %>
  
                  <div class="entry__text">
                      <div class="entry__header">

                          <h2 class="entry__title"><%= link_to article.title, "/#{article.metadata}" %></h2>
                          <div class="entry__meta">
                              <span class="entry__meta-cat">
                                  <%= article.category_id %>
                              </span>
                              
                              <span class="entry__meta-date">
                                  <a href="single-standard.html"><%= I18n.l(article.published_at || Time.now, format: :long) %></a>
                              </span>
                          </div>
                          
                      </div>
                      <div class="entry__excerpt max-length">
                        <%= raw article.highlight %>
                      </div>
                      <div class="entry__excerpt max-length">
                        <%= link_to "Ver mais", "/#{article.metadata}" %>
                      </div>
                  </div>
              </article>
            <% end %>
        </div>
    </div>
</div>