<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="menu">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><%= fa_icon "bars", class: "fa-2x" %></a>
    </div>
    <div id="top" class="s-wrap site-wrapper">
        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li><div class="user-view">
            <%= link_to "ARTHUR MOURA", "/", class: "home-title" %>
            </div></li>
            <% if current_admin %>
              <li><%= link_to "Admin", "/admin" %> </li>
            <% end %>
            <li class=<%= current_page?("/") ? "active" : "" %>><%= link_to "Home", "/" %></li>
            <% Category.all.each do |category| %>
              <li class=<%= current_page?("/#{category.path}") ? "active" : "" %>><%= link_to "#{category.name}", "/#{category.path}" %></li>
            <% end %>
            <li class=<%= current_page?("sobre") ? "active" : "" %>><%= link_to "Sobre", "/sobre" %></li>
            <li>
                <a href="https://facebook.com/arthurjmoura" target="_blank">
                    <%= fa_icon "facebook-square", class: "fa-2x favi-padding" %>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/arthurjm95" target="_blank">
                    <%= fa_icon "twitter", class: "fa-2x favi-padding" %>
                </a>
            </li>
            <li>
                <a href="https://instagram.com/arthurjmoura" target="_blank">
                    <%= fa_icon "instagram", class: "fa-2x favi-padding" %>
                </a>
            </li>   
        </ul>
        <%= yield %>
    </div> 
  </body>
</html>
